# Autosave files
*~

# build
[Oo]bj/
[Bb]in/
packages/
TestResults/
.idea/

# globs
Makefile.in
*.DS_Store
*.sln.cache
*.suo
*.cache
*.pidb
*.userprefs
*.usertasks
config.log
config.make
config.status
aclocal.m4
install-sh
autom4te.cache/
*.user
*.tar.gz
tarballs/
test-results/
Thumbs.db
.vs/

# Mac bundle stuff
*.dmg
*.app

# resharper
*_Resharper.*
*.Resharper

# dotCover
*.dotCover
**/out/*
**/out/*

.tmp/*
artifacts/*
/.nuke/temp
/tests/Repository.Tests/local.json
/src/MessageHandlers/appsettings.local.json
/localstack-data/data/*
/localstack-data/server*
